# Docker image versions
POSTGRES_VERSION=16-alpine
REDIS_VERSION=7-alpine

# Database
POSTGRES_DB=kanban
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5433

# Redis
REDIS_PORT=6379

# Server
SERVER_PORT=9000
SERVER_SERVLET_CONTEXT_PATH=/api
JWT_ACCESS_KEY=53dTNtbt2DadSMJuJ7FqrWtQ1gipayh7l8+J4bLw+AjZx4NhPunyrceMKFkjAZu6gjAJzvSxVokreQEQy1zpAw==
JWT_ACCESS_EXPIRE=40
MAIL_USERNAME=Tranhunghp22112004@gmail.com
MAIL_PASSWORD=xlewrwnkolwikvmp

CLOUD_NAME=dctbgrceq
CLOUD_API_KEY=341269384519672
CLOUD_API_SECRET=OPcrlBmsnCRA2pdW7RpuKh7-A2I

# Client
CLIENT_PORT=4000
